==================================================
DEBUG: manage.py starting check
DEBUG: Using CWD as project root: C:\Users\jamal\Downloads\Student-Welfare-Management-System\Student-Welfare-Management-System
DEBUG: sys.path[0] enforced to: C:\Users\jamal\Downloads\Student-Welfare-Management-System\Student-Welfare-Management-System
==================================================
BEGIN;
--
-- Create model Announcement
--
CREATE TABLE "hms_announcement" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "title" varchar(200) NOT NULL, "content" text NOT NULL, "created_at" datetime NOT NULL, "updated_at" datetime NOT NULL, "is_active" bool NOT NULL, "priority" varchar(20) NOT NULL, "created_by_id" integer NULL REFERENCES "auth_user" ("id") DEFERRABLE INITIALLY DEFERRED);
CREATE INDEX "hms_announcement_created_by_id_c17d2e6f" ON "hms_announcement" ("created_by_id");
COMMIT;
